<!DOCTYPE HTML>
<html>
<head>
  <title>Sub sistema administrador</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style/style.css" />
  <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">
</head>
<body>
  <div id="main">
    <div id="header">
    <div class="col-md-5">
                <img src="{{STATIC_URL}}images/logo.png" alt="" />
             </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="/jugar/">Partidas</a></li>
          <li><a href="/listar/">Control Usuarios</a></li>
          <li><a href="/listar_pregunta/">Control Preguntas</a></li>
          <li><a href="/listar_tema/">Control Temas</a></li>
          <li><a href="/">Salir</a></li>
        </ul>
      </div>
    </div>
    <div style="background-image:url({{STATIC_URL}}images/fondo1.jpg); background-position:left top;">
    <div id="content_header"></div>
    <div id="site_content">
      <div class="sidebar">
        <h3>Algunas Notas</h3>
        <h5>Triviador Juego</h5>
        <p>Triviador Bolivia Game<br />
        <h3>Links Relacionados</h3>
        <ul>
          <li><a href="http://www.facebook.com/">Facebook (triviador)</a></li>
          <li><a href="http://www.triviadormundo.com">Triviador mundo</a></li>
        </ul>
      </div>
      <div id="content">
        <h2>Bienvenido al sub sistema Administrador</h2>
        <div class="panel-body">  
                    {% block content %}
                    {% endblock %}
        </div>
        <div class="col col-sm-6">
                   <img src="{{STATIC_URL}}images/triviador1.jpg" class="img-responsive">
                   <h4>!TRVIADOR ADMINISTRADOR.</h4>
        </div> 
      </div>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p>Triviador Bolivia : Administracion</p>
    </div>
  </div>
</body>
</html>