<!DOCTYPE html>
<html>
  <head>
    <title>Calendario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" type="image/x-icon" href="images/logo1.ico" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-5">	           
	              <div class="col-md-5">
	              	 <img src="images/logo.png" alt="" />
	           	  </div>
	           </div>
	        </div>
	     </div>
	</div>
    <div class="page-content">
    	<div style="background-image:url(images/fondo1.jpg); background-position:left top;">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <li><a href="index.html"><i class="glyphicon glyphicon-home"></i> Inicio</a></li>
                    <li><a href="http://www.facebook.com"><i class="glyphicon glyphicon-stats"></i> Facebook</a></li>
                    <li><a href="forms.html"><i class="glyphicon glyphicon-tasks"></i> Registro_usuario</a></li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Administracion
                            <span class="caret pull-right"></span>
                         </a>
                         <ul>
                            <li><a href="login.html">Login</a></li>
                        </ul>
                    </li>
                </ul>
             </div>
		  </div>
		  <div class="col-md-10">
		  			<div class="content-box-large">
		  				<div class="panel-body">
		  					<div class="row">
                <div class="col col-sm-6">
                   <img src="images/portal_1.jpg" class="img-responsive">
                   <h4>!juega ya!.</h4>
                  </div> 
		  					</div>
		  				</div>
		  			</div>
		  </div>
		</div>
		</div>
    </div>
    <footer>
         <div class="container">
            <div class="copy text-center">
               Triviador Bolivia <a href='#'>Website</a>
            </div>
         </div>
      </footer>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>