<!DOCTYPE html>
<html>
  <head>
    <title>TRIVIADOR_GAME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}images/logo1.ico" />
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/forms.css" rel="stylesheet">
    <link rel="stylesheet" href="{{STATIC_URL}}assets/css/main.css" />
  </head>
  <body>
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-5">
	              <img src="{{STATIC_URL}}images/logoo.png" alt="" />
	           </div>
	           <div class="col-md-2">
	              <div class="navbar navbar-inverse" role="banner">
	                  <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	                    <ul class="nav navbar-nav">
	                      <li><a href="/login/"><i class="glyphicon glyphicon-tasks"></i> login_user </a></li>
	                    </ul>
	                  </nav>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>

    <div class="page-content">
      <div style="background-image:url({{STATIC_URL}}images/fondo1.jpg); background-position:left top;">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <li class="current"><a href="/"><i class="glyphicon glyphicon-home"></i> Inicio</a></li>
                    <li><a href="jugar/"><i class="glyphicon glyphicon-pencil"></i> Jugar</a></li>
                    <li><a href="http://www.facebook.com"><i class="glyphicon glyphicon-stats"></i> Facebook</a></li>
                    <li><a href="/registro/"><i class="glyphicon glyphicon-tasks"></i> Registro</a></li>
                    <li><a href="/login_admin/"><i class="glyphicon glyphicon-stats"></i> Administracion</a></li>
                </ul>
             </div>
		  </div>
		  <div class="col-lg-10">		  
		   <div class="panel">
		     <div class="col-md-12">
		  	  <div id="myCarousel" class="carousel slide">		  
      			<ol class="carousel-indicators">
       			 <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       			 <li data-target="#myCarousel" data-slide-to="1"></li>
       			 <li data-target="#myCarousel" data-slide-to="2"></li>
       			 <li data-target="#myCarousel" data-slide-to="3"></li>
       			 <li data-target="#myCarousel" data-slide-to="4"></li>
     		    </ol>
      			<div class="carousel-inner">      			
       			 <div class="active item"><img  src="{{STATIC_URL}}images/banner1.jpg" alt="banner1" /></div>
       			 <div class="item"><img  src="{{STATIC_URL}}images/banner2.jpg" alt="banner2" /></div>		 
       			 <div class="item"><img  src="{{STATIC_URL}}images/banner3.jpg" alt="banner3" /></div>
       			 <div class="item"><img  src="{{STATIC_URL}}images/banner4.jpg" alt="banner4" /></div>
       			 <div class="item"><img  src="{{STATIC_URL}}images/banner5.jpg" alt="banner5" /></div>
     		    </div>
      			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      			<div class="container">
		        <div class="carousel-caption">   
                    <h1 id="logo"><a href="#">TRIVIADOR BOLIVIA</a></h1>
		      			    <h3>Triviador Game.</h3>
                    Prueba el nuevo juego.
                    <p>Es nuestro placer presentar esta nueva version de la antesala con varias funciones que esperamos sean utiles y divertidas para la comunidad Triviador. 

                    Las novedades incluyen:
                    Creacion de partidas amistosas y posibilidad de unirse a estas desde la antesala.
                    Indice de triviadores que en el momento se encuentran en la antesala.
                    Posibilidad de crear chats privados con tus amigos de Triviador desde la antesala. 
                    Saludos y esperamos que disfruten.</p>
		          <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p>
		        </p></pthis></div>
		      </div>
      		  </div>
      		 </div>
    		</div>   			
		  	
		  	<div class="col col-sm-12">
		  		<div class="panel">
             	 <h1>Algunos Trucos Sobre el Juego Triviador Bolivia!!!!!!!!!!!!!!</h1>
              
             	 <div class="row">
              		<div class="col col-sm-6">
                 	 <img src="{{STATIC_URL}}images/triviador1.jpg" class="img-responsive">
                 	 <h4>!COMPITE EN BATALLAS DE TRIVIA (PREGUNTAS)
                   Y DEMUESTRA TUS CONOCIMIENTOS!.</h4>
                	</div> 
        			<div class="col col-sm-4">
                 	 <img src="{{STATIC_URL}}images/triviador2.jpg" class="img-responsive">
                 	 <h4>GANA CON CONOCIMIENTOS SOLIDOS!!!!!</h4>
                 	 <hr>
                 	 <img src="{{STATIC_URL}}images/triviador3.jpg" class="img-responsive">
                 	 <h4>DERROTA A OTROS JUGADORES!!!!</h4>
              		</div> 
		  		 </div>
		  		</div>
		  	</div>

		  	<div class="row">
		  	<div class="content-box-large">
		  		<p><a class="btn btn-lg btn-primary" href="https://mundo.triviador.com/stal2_index.php?source=">Triviador Mundo!!! Contruye tu imperio de conocimientos</a></p>
				<br /><br />
				
		  	</div>
		  </div>
		</div>
    </div>
    </div>
    <footer>
         <div class="container">         
            <div class="copy text-center">
               Triviador Bolivia <a href='#'>Website</a>
            </div>            
         </div>
    </footer>
    <script src="{{STATIC_URL}}https://code.jquery.com/jquery.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/custom.js"></script>
  </body>
</html>