<!DOCTYPE html>
<html lang="en"> 
<head>
     <meta charset="UTF-8" />
    <title>Administrador Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	  <meta content="" name="description" />
	  <meta content="" name="author" />
    <link rel="shortcut icon" type="image/x-icon" href="images/logo1.ico" />
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}assets/css/login.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/magic/magic.css" />
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">
</head>
<body >
    
    <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <img src="{{STATIC_URL}}images/logo.png" alt="" />
               </div>               
               <div class="col-md-2">
                  <div class="navbar navbar-inverse" role="banner">
                      <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                          <li><a href="/"><i class="glyphicon glyphicon-tasks"></i> Atras </a></li>
                        </ul>
                      </nav>
                  </div>
               </div>
            </div>
         </div>
    </div>
    <div class="text-center">
        <img src="{{STATIC_URL}}images/logo_a.png" id="logoimg" alt=" Logo" />
    </div>
       <div class="page-content">
      <div style="background-image:url({{STATIC_URL}}images/fondo1.jpg); background-position:left top;">
      <div class="row">
      <div class="col-md-10">
      <div class="col col-sm-6">
        <img class="img-responsive" src="{{STATIC_URL}}images/admin1.jpg" alt="">
      </div>    
      <div class="row">
          <div class="col-md-6">
            <div class="content-box-large">
                <div class="panel-heading">
                <div class="panel-title">Lado Adminitrador</div>
              </div>
                <div class="panel-body">
                    {% block content %}
                    {% endblock %}
                </div>            
                </div>
                
              </div>
        </div>        
      </div>
      </div>
    </div>
    </div>
  <footer class="application-footer">
      <div class="container">
          <p>-----------------------------------------------------------------------------------Triviador Bolivia Admin-------------------------------------------------------</p>
      </div>
  </footer>
  <script src="{{STATIC_URL}}assets/plugins/jquery-2.0.3.min.js"></script>
  <script src="{{STATIC_URL}}assets/plugins/bootstrap/js/bootstrap.js"></script>
  <script src="{{STATIC_URL}}assets/js/login.js"></script>
</body>
</html>