{% extends  "usuario_denun.html" %}

{% block content %}
	<div class=container"">
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">			
			{% load bootstrap3  %}
				{% if estado %}
					<div class="alert alert-danger" role="alert">{{mensaje}} <span class="glyphicon glyphicon-warning-sign"></span></div>
				{% endif %}
				<form action="" method="post" class="form">
				 {% csrf_token %}
				 {% bootstrap_form formulario %}
				 <div class="form-group">
				 	<div class="col-sm-offset-2 col-sm-10">
				 		{{formulario2.as_p}}
				 	</div>
				 </div>
				 {% buttons %}
				 	<button type="submit" class="btn btn-primary">Login</button>
				 {% endbuttons %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}