{% extends  "perfil.html" %}

{% block content %}
	<div class=container"">
		<div class="row">
			<div class="col-xs-12">
				{% load bootstrap3  %}
				<h3>Nombre_Completo : {{ user.get_full_name }}</h3><br>
				<h3>Nick : {{user.username}}</h3><br>
				<h3>Ciudad : {{user.perfil.ciudad}}</h3><br>
				<h3>Email : {{user.email}}</h3>
				<h3> Avatar </h3>
				<img src="/media/{{ user.perfil.avatar }}" alt="avatar"><br><br>           
            	<div class="action">
			            <a class="btn btn-default" href="/perfil/modificar/">Modificar</a>
			    </div>
			</div>
		</div>
	</div>
{% endblock %}