<!DOCTYPE html>
<html lang="en"> 
<head>
     <meta charset="UTF-8" />
    <title>Denucnias_control</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
    <link rel="stylesheet" href="static/assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="static/assets/css/login.css" />
    <link rel="stylesheet" href="static/assets/plugins/magic/magic.css" />
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet">
</head>
<body >
    
    <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                <img src="static/images/logo.png" alt="" />
             </div>
            </div>
         </div>
    </div>
    <div class="tab-content">
        <div id="login" class="tab-pane active">
            <form action="editors.html" class="form-signin">
                <p class="text-muted text-center btn-block btn btn-primary btn-rect">
                    Ingrese su nombre_usuario y contrasenia
                </p>
                <input type="text" placeholder="Username" class="form-control" />
                <input type="password" placeholder="Password" class="form-control" />
                <button class="btn text-muted text-center btn-danger" type="submit">Entrar</button>
            </form>
        </div>
    </div>
</div>

  <script src="static/assets/plugins/jquery-2.0.3.min.js"></script>
  <script src="static/assets/plugins/bootstrap/js/bootstrap.js"></script>
  <script src="static/assets/js/login.js"></script>
</body>
</html>